body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    background: #42455a;
}



.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu li{
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.logo img{
    width: 40px;
    margin-top: -15px;
    margin-right: 48px ;
}

.active{
    color:rgba(143, 199, 33, 0.883) !important;
}
.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left,#19d7f8, rgb(134, 184, 34));
    background-origin: border-box;
    background-clip: content-box,border-box;

}

.signup-btn span{
    display: block;
    padding: 8px 22px;
}

#link-portfolio{
    text-decoration: none;
    color: #b2b1b1;
}


p{
    color: rgb(184, 176, 176);
}
 #quotes{
     color:rgb(30, 182, 182);
 }

h1{
    font-size: 50px;
    font-weight: 900;
}
.add-text-color{
    color:rgb(233, 103, 16) ;
}

.link-btn{
    text-decoration: none;
    padding: 10px 30px ;
    border-radius: 25px;
    background-image: linear-gradient(to right, #e1b12c,#e84118);
    font-weight: 700;
    color: white;
}
.flexible{
    display:flex;
    /* margin-top: 0;  */
    margin-bottom: 100px;
}
.text-box{
    margin-top: 15%;
    margin-left: 5%;
    width: 40%;
    text-align: justify;
    
}
.image-box{
    padding-top: 5%;
    padding-left: 10%;
    width: 40%;
    

}

.image{
    width: 60%;
    padding:5% 10% 0% 0%;
    border: none;
    display: block;
    

}
.image-logo{
    width: 80%;
    padding:10% 10% 0% 10%;
}
.background-add{
    margin-left: 0px;
    margin-bottom: 100px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.alignment{
    text-align: center;
}
h2{
    color: rgb(134, 184, 34);
}
.box-create{
    margin: 5%;
    padding: 5px;
    padding-top: 15px;
    width: 25%;
    border: 1px solid rgba(13, 20, 71, 0.274);
    text-align: center;
    box-shadow: 10px 10px 30px 0px rgb(20, 19, 19);
    border-radius: 20px;
    
    
}

.box-create p{
    color:rgb(4, 255, 171);
    margin: 5%;
    text-align: justify;
}

.food-image{
    width: 90%;
    border-radius: 7%;
}
.social-media-box{
    width: 30%;
    margin: 0% 5% 0% 5%;
    padding: 5px;

}
.color-heading{
    font-size: 40px;
    color: rgb(134, 184, 34);
    margin: 0px;
    font-family: 'Barlow', sans-serif;
}


#bordering{
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    box-shadow: 10px 10px 30px 0px black;
    border-radius: 20px;

}

footer{
    background-color: black;
    color: rgb(105, 96, 96);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 8%;
}
footer p{
    font-size: small;
    color: rgba(229, 229, 243, 0.746);
    
}


.social-icons li{
    display: inline-block;
    list-style: none;
    padding-bottom: 2%;
}
.social-icons ul{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: -40px;
}
.icon{
    width: 40px;
    margin-right: 35px ;
    
} 


.signup-btn:hover{
    color:black;
    background-image: linear-gradient(cyan,rgb(134, 184, 34));
}



.link-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.link-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.link-btn:hover span {
    padding-right: 25px;
  }
  
.link-btn:hover span:after {
    opacity: 1;
    right: 0;
  }